<%= form_for @photo do |photo| %>
	<div class="form-group">
		<%= photo.label :image %>
		<%= photo.file_field :image, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= photo.submit 'Create' , class: "btn-primary"%>
		</div>
<% end %>